# modules
node_modules/

# build folders
packages/*/build

# public folders (js)
packages/*/public/**/*.js
packages/*/public/**/*.js.map
packages/*/public/**/custom-elements.json

# turbo files
.turbo

# mac
.DS_Store

# IntelliJ Idea
.idea