# modules
node_modules/

# build folders
packages/*/build
packages/*/build-meta.json

# dist folders
pages/*/dist
dist

# public folders (js|wasm)
pages/*/public/**/*.js
pages/*/public/**/*.js.map
pages/*/public/**/*.wasm

# turbo files
.turbo

# mac
.DS_Store

# IntelliJ Idea
.idea