# modules
node_modules/

# build folders
packages/*/build

# dist folders
pages/*/dist

# public folders (js)
pages/*/public/**/*.js
pages/*/public/**/*.js.map

# turbo files
.turbo

# mac
.DS_Store

# IntelliJ Idea
.idea