uigc-logo-chain {
  width: 24px;
}

tr td:first-child {
  width: 75px;
}

tr td:last-child {
  text-align: right;
}

td:first-of-type,
td:last-of-type {
  padding: 12px 14px;
}

@media (min-width: 768px) {
  td:first-of-type,
  td:last-of-type {
    padding: 12px 28px;
  }
}

div.status {
  display: inline-flex;
  align-items: center;
}

div.alt {
  color: #999ba7;
}

div.status.pending > span {
  color: #85d1ff;
}

div.status.emitted > span {
  color: #53a4f3;
}

div.status.complete > span {
  color: #00ffa0;
}

div.status > span {
  margin-left: 3px;
}
