tbody tr {
  color: #b2b6c5;
}

tbody tr:last-child {
  border-bottom: none;
}

tr {
  cursor: default;
}

.status {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  display: flex;
  align-items: center;
  height: 20px;
}

.error span {
  color: #ffec8a;
}

.success span {
  color: #30ffb1;
}

.pending span {
  color: #85d1ff;
}

uigc-icon-success {
  width: 30px;
  margin-left: -3px;
}

uigc-icon-warning {
  margin-right: 3px;
}

uigc-circular-progress {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-left: 3px;
}
