:host {
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--uigc-app-font), sans-serif;
}
