:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.invest {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 14px;
  gap: 14px;
  box-sizing: border-box;
}

.invest .divider {
  background: var(--uigc-divider-background);
  height: 1px;
  width: 100%;
  left: 0;
  position: absolute;
}

.invest .switch {
  align-items: center;
  display: flex;
  height: 43px;
  justify-content: space-between;
  width: 100%;
}

.switch-button {
  position: absolute;
  left: 14px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .switch-button {
    left: 28px;
  }
}

.advanced {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.interval {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .interval {
    padding: 0 14px;
  }
}

.interval div.section {
  color: var(--hex-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 12px 0;
}

.interval div.selection {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.interval div.selection > uigc-input {
  max-width: 130px;
  height: 46px;
  margin-right: 12px;
}

.interval div.selection > uigc-toggle-button-group {
  width: 100%;
}

.adornment {
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

@media (max-width: 480px) {
  .invest {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .invest {
    padding: 0 28px;
  }
}

.hidden {
  display: none;
}

uigc-asset {
  padding: 5px;
}

uigc-skeleton.full {
  width: 100%;
}
