:host([basic]) uigc-icon-arrow {
  display: block;
}

:host(:not([basic])) uigc-icon-switch {
  display: flex;
}

:host([disabled]) .switch-root:hover > uigc-icon-switch,
:host([disabled]) .switch-root:hover > uigc-icon-arrow {
  cursor: unset;
  transform: none;
}

.switch-root {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

uigc-icon-switch,
uigc-icon-arrow {
  display: none;
  transition: var(--uigc-asset-switch-transition);
}

.switch-root:hover > uigc-icon-switch,
.switch-root:hover > uigc-icon-arrow {
  cursor: pointer;
  transform: var(--uigc-asset-switch-transform);
}
