:host {
  position: relative;
}

:host:has([decoration]) {
  border: 2px solid var(--hex-dark-blue-401);
  border-radius: 50%;
}

:host:has([decoration='atoken'])::before {
  content: '';
  position: absolute;
  inset: -4px;
  background: linear-gradient(to right, #39a5ff, #0063b5 50%, transparent);
  padding: 2px;
  border-radius: 50%;
  mask: linear-gradient(#000 0 0) exclude, linear-gradient(#000 0 0) content-box;
}

uigc-logo-chain {
  display: none;
}

:host([chainOrigin]) uigc-logo-asset {
  mask: radial-gradient(112% 112% at 84% 16%, transparent 25%, white 25%);
  -webkit-mask: radial-gradient(
    112% 112% at 84% 16%,
    transparent 25%,
    white 25%
  );
}

:host([chainOrigin]) uigc-logo-chain {
  display: flex;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 1;
  right: -10%;
  top: -10%;
}
