.chip-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
  gap: 5px;
  height: 28px;
  background: var(--uigc-asset-price-background);
  border-radius: var(--uigc-asset-price-border-radius);
  border: var(--uigc-asset-price-border);
}

span {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
}

span:not(.highlight) {
  color: var(--hex-white);
}

.highlight {
  color: var(--uigc-asset-price__highlight-color);
}

.progress {
  position: relative;
}

.progress-text {
  margin-left: 6px;
}
