:host {
  border-radius: 12px;
  width: 100%;
}

button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 12px 12px;
  border-radius: var(--uigc-chain-selector-border-radius);
  cursor: pointer;
  background: var(--uigc-chain-selector-background);
  border: var(--uigc-chain-selector-border);
}

button .title {
  display: flex;
  align-items: center;
  color: var(--uigc-chain-selector--title-color);
  font-weight: var(--uigc-chain-selector--title-font-weight);
  font-size: var(--uigc-asset-transfer--title-font-size);
  line-height: var(--uigc-asset-transfer--title-line-height);
  text-transform: var(--uigc-asset-transfer--title-text-transform);
}

button .chain {
  margin-left: auto;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

button:focus,
button:focus-visible,
button:focus-within,
button:hover {
  background: var(--uigc-chain-selector-background__hover);
  border: var(--uigc-chain-selector-border);
  transition: 0.2s ease-in-out;
}

.select {
  display: flex;
  align-items: center;
  padding: 0 6px;
  gap: 6px;
}

.select span {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--hex-white);
  white-space: nowrap;
}
