:host(:not([variant])) .toggle-group-root div {
  gap: 8px;
  padding: 8px 10px;
}

:host([variant='dense']) .toggle-group-root div {
  gap: 4px;
  padding: 4px 5px;
}

.toggle-group-root div {
  display: flex;
}

.toggle-group-root {
  background: var(--uigc-toggle-button-group--root-background);
  border-radius: var(--uigc-toggle-button-group--root-border-radius);
  display: flex;
  flex-direction: column;
}

.label {
  color: #878c9e;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  padding: 8px 0 0 10px;
}
