:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transfer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 14px;
  gap: 14px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .transfer {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .transfer {
    padding: 0 28px;
  }
}

.transfer .divider {
  background: var(--uigc-divider-background);
  height: 1px;
  width: 100%;
  left: 0;
  position: absolute;
}

.transfer .switch {
  align-items: center;
  display: flex;
  height: 43px;
  justify-content: space-between;
  width: 100%;
}

.transfer uigc-asset-switch {
  background: var(--uigc-asset-switch-background);
}

.transfer .switch-button {
  position: absolute;
  left: 14px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .transfer .switch-button {
    left: 28px;
  }
}

.transfer .switch-button > img {
  height: 100%;
}

.transfer .spot-price {
  position: absolute;
  right: 14px;
  background: #23282b;
  border-radius: 7px;
  display: none;
}

@media (min-width: 768px) {
  .transfer .spot-price {
    right: 28px;
  }
}

.transfer .spot-price.show {
  display: block;
}

.info .route-label {
  background: var(--uigc-app-font-color__gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}

.info .route-icon {
  margin-left: 12px;
}

.info uigc-icon-chevron-right {
  width: 22px;
  height: 22px;
}

.info uigc-icon-route {
  margin-left: 12px;
}

.indicator {
  display: flex;
  padding: 1px 2px;
  align-items: flex-start;
  gap: 1px;
}

.indicator > span {
  width: 16px;
  height: 6px;
  background: rgba(135, 139, 163, 0.2);
}

.indicator.low > span:nth-of-type(1) {
  background: #30ffb1;
}

.indicator.medium span:nth-of-type(2) {
  background: #f7bf06;
}

.indicator.high span:nth-of-type(3) {
  background: #ff931e;
}

.cta {
  overflow: hidden;
  width: 100%;
  height: 50px;
  margin: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cta > span {
  position: absolute;
  transition: top 0.3s;
  -moz-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  -ms-transition: top 0.3s;
}

.cta > span.swap {
  top: 16px;
}

.cta > span.twap {
  top: 56px;
}

.cta__twap > span.swap {
  top: -56px;
}

.cta__twap > span.twap {
  top: 16px;
}

.hidden {
  display: none;
}

.options {
  transition: max-height 0.2s ease-in-out 0s;
  max-height: 0;
  overflow: hidden;
  gap: 0;
}

@media (max-width: 480px) {
  .options {
    padding: 0px 14px;
  }
}

.options.show {
  max-height: 500px;
}

.options > .label {
  color: #999ba7;
  font-family: 'Geist';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options > div {
  margin-top: 14px;
}

.options .highlight {
  margin-left: 3px;
  font-size: 11px;
}

.info .positive,
.options .positive {
  color: #30ffb1;
}

.info .negative,
.options .negative {
  color: var(--uigc-field__error-color);
}

.tooltip {
  position: relative;
  width: 22px;
}

.tooltip uigc-icon-info {
  margin-left: 5px;
}

.tooltip > .text {
  display: grid;
  visibility: hidden;
  text-align: center;
  position: absolute;
  width: 230px;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -10px;
  padding: 11px 16px;
  border-radius: 4px;
  background: #333750;
  color: #fff;
  font-family: 'Geist';
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
}

.tooltip > .text::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-left: 8px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333750 transparent;
}

.tooltip:hover > .text {
  visibility: visible;
}

.form-option.skeleton {
  align-items: center;
}

.form-option .price {
  color: #fff;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  font-size: 16px;
  font-size: 4cqw;
}

.form-option .usd {
  font-size: 10px;
  line-height: 14px;
  color: var(--hex-neutral-gray-400);
  font-weight: 600;
  text-align: right;
  max-width: 150px;
}

.form-option .usd > span {
  display: inline-block;
}
